<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>스프링부트 웹서비스</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
    <body>
    	<th:block layout:fragment="content"></th:block>
 		<th:block th:replace="fragments/common_script :: commonScriptFragment"></th:block>
 		<th:block layout:fragment="contentScript"></th:block>
    </body>
</html>